
<div  class="grid-container">
  <h1 i18n class="mat-h1">Dashboard
    <mat-icon (click)="refresh()" style="cursor: pointer; float: right; margin-right: 40px;">refresh</mat-icon>
  </h1>
  
  <mat-grid-list cols="2" rowHeight="500px">
    <mat-grid-tile *ngFor="let card of cards | async; let i=index" [colspan]="card.cols" [rowspan]="card.rows">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            {{card.title}}
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div *ngIf="i==0 ">
            <h1>{{this.error}}</h1>
            <div i18n *ngIf="dashboard" style="text-align: center; margin-top: auto;">
                <h3>Total Coupons: {{dashboard.totalCoupon}}</h3>
                <h3>Valid Coupons: {{dashboard.validCoupon}}</h3>
                <h3>Total Series: {{dashboard.totalSerie}}</h3>
                <h3>Active Coupons: {{dashboard.active}}</h3>
                <h3>Used Coupons: {{dashboard.used}}</h3>
                <h3>Draft Coupons: {{dashboard.draft}}</h3>
                <h3>Blocked Coupons: {{dashboard.blocked}}</h3>
                <h3>Valid Coupon / Total Coupon: {{dashboard.validCoupon / dashboard.totalCoupon | percent:'1.2-5'}}</h3>
            </div>
          </div>

          <div *ngIf="i==1">
            <kendo-chart>
              <kendo-chart-tooltip> </kendo-chart-tooltip>
              <kendo-chart-legend position="bottom"></kendo-chart-legend>
              <kendo-chart-series>
                  <kendo-chart-series-item
                  type="pie"
                  [data]="pieCoupon"
                  field="value"
                  categoryField="category">
                  </kendo-chart-series-item>
              </kendo-chart-series>
          </kendo-chart>
          </div>

          <div *ngIf="i==2">
            <kendo-chart>
              <kendo-chart-tooltip> </kendo-chart-tooltip>
              <kendo-chart-series>
                <kendo-chart-series-item
                  type="column"
                  [gap]="2"
                  [spacing]="0.25"
                  [data]="series"
                  field="cpsCount"
                  categoryField="cpsSeriesId">
                </kendo-chart-series-item>
              </kendo-chart-series>
            </kendo-chart>
          </div>

          <div *ngIf="i==3">
            <kendo-chart>
              <kendo-chart-tooltip> </kendo-chart-tooltip>
              <kendo-chart-legend position="bottom"></kendo-chart-legend>
              <kendo-chart-series>
                  <kendo-chart-series-item
                  type="pie"
                  [data]="pieStatus"
                  field="value"
                  categoryField="category">
                  </kendo-chart-series-item>
              </kendo-chart-series>
      
          </kendo-chart>
      
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
