<mat-dialog-content >
    <mat-toolbar i18n color="accent" style="background-color: darkblue;">
        User Details
    </mat-toolbar>
    {{message}}
    <br>
    <table>
        <tr>
            <th i18n> Id </th>
            <td> {{profile.usId}}</td>
        </tr>
        <tr>
            <th i18n> Username </th>
            <td> {{profile.usUsername}}</td>
        </tr>
        <tr>
            <th i18n> Name </th>
            <td> {{profile.usName}}</td>
        </tr>
        <tr>
            <th i18n> E-mail </th>
            <td> {{profile.usMail}}</td>
        </tr>
        <tr>
            <th i18n> Phone </th>
            <td> {{profile.usPhoneNum}}</td>
        </tr>
    </table>
</mat-dialog-content>
